body {
	font-family: 'TT Lakes', sans-serif;
}

.none {
	display: none;
}

/* Header */
.navigation {
	display: flex;
	align-items: center;
	margin: 19px 16px;
}

.navigation__leftSide {
	display: flex;
	gap: 17px;
	align-items: center;
}
.navigation__rightSide {
	display: flex;
	gap: 16px;
	margin-left: auto;
	align-items: center;
}

.navButton {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	background-color: #ff3e79;
}

.navButton svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 0;
}

.navigation__burgerMenu svg {
	width: 18px;
	height: 16px;
}

.logo svg {
	width: 97px;
	height: 51px;
}

.navigation__order svg {
	width: 20px;
	height: 20px;
}

.navigation__orderStatus svg {
	width: 16px;
	height: 20px;
}

.navLine {
	width: 3px;
	height: 32px;
	background-color: #eaeaea;
	margin: 0 4px;
}

.navigation__tabletIcon {
	display: none;
}

.pcHeader {
	display: none;
}
/* Main */
.info {
	background-color: #F8F8F8;
	width: 100%;
	height: 100%;
	border-top: 1px solid #D9FFF5;
}

.info__header {
	display: flex;
	align-items: center;
	margin-bottom: 24px;
	margin-top: 19px;
}

.info__header::before {
	content: '';
	display: inline-block;
	width: 4px;
	height: 40px;
	margin-right: 12px;
	border-radius: 0px 50px 50px 0px;
	background-color: #41f6d7;
}

.info h1 {
	font-weight: 700;
	font-size: 28px;
}

.container {
	margin-left: 16px;
	margin-right: 16px;
}

.info p {
	font-weight: 400;
	font-size: 14px;
	color: #1B1C21;
}

.info__scrollMenu {
	display: flex;
	overflow-x: scroll;
	text-wrap: nowrap;
	margin-bottom: 24px;
	align-items: center;
}

.info__scrollMenu a {
	text-wrap: nowrap;
	justify-content: space-around;
	text-align: center;
	padding: 8px 22px;
	font-weight: 500;
	color: #7E7E82;
}

.info__scrollMenu a:hover:not(.btnSelected) {
	background-color: rgba(213, 213, 213, 0.106);
	border-radius: 6px;
	transition: background-color .1s;
}

.btnSelected {
	border: 2px #b8ffec solid;
	border-radius: 6px;
	background-color: #fff;
}

.info__text div {
	max-height: 90px;
	overflow: hidden;
}

.info__text p:last-child {
	padding-top: 11px;
}

.info__readMore {
	display: flex;
	gap: 16px;
	align-items: center;
	margin: 16px 0;
	font-size: 16px;
}

.info__readMore svg {
	width: 8px;
	height: 11px;
}

.info__image {
	min-width: 250px;
	min-height: 150px;
}

.info__image img {
	width: 100%;
	max-width: 531px;
	max-height: 307px;
}

/* Burger menu */
.burgerMenu--navButton {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	background-color: #ff3e79;
	transition: .2s ease-in;
}

.burgerMenu--navButton:hover {
	opacity: .7;
}

.burgerMenu--navButton svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 0;
}

.burgerMenu {
	position: absolute;
	top: 0;
	width: 320px;
	height: 100vh;
	box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.426);
	background-color: #fff;
	z-index: 9;
}

.burgerMenu__container {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 19px 24px 32px 24px;
	min-height: 100vh;
}

.burgerMenu__header {
	display: flex;
	align-items: center;
	margin-bottom: 50px;
}

.burgerMenu__header a:last-child {
	margin-left: auto;
}

.burgerMenu__header button {
	margin-right: 17px;
}

.burgerMenu__header .burgerMenu--logo {
	width: 97px;
	height: 51px;
}

.burgerMenu ul li {
	display: flex;
	align-items: center;
}

.burgerMenu ul li:not(:last-child) {
	margin-bottom: 32px;
}

.burgerMenu ul li a {
	padding: 5px 0;
}

.burgerMenu ul li a:hover {
	color: #7e7e82;
	transition: ease-in 0.1s;
}

.burgerMenu--selected {
	position: relative;
	color: #7e7e82;
}

.burgerMenu--selected::before {
	content: "";
	position: absolute;
	left: -24px;
	top: -3px;
	display: inline-block;
	width: 4px;
	height: 32px;
	border-radius: 0px 50px 50px 0px;
	background-color: #41f6d7;
}

.burgerMenu__bottom {
	position: absolute;
	bottom: 32px;
}

.burgerMenu__bottom div:first-child {
	display: flex;
	gap: 16px;
	margin-bottom: 16px;
}

.burgerMenu__bottom div:nth-child(2n) {
	display: flex;
	flex-direction: column;
	row-gap: 12px;
	margin-bottom: 40px;
}

.burgerMenu__bottom div:nth-child(2n) a:nth-child(2n) {
	font-size: 24px;
	font-weight: 700;
}

.burgerMenu__bottom div:nth-child(3n) {
	display: flex;
	column-gap: 7px;
}

.burgerMenu__bottom div:nth-child(3n) a:hover {
	color: #7e7e82;
	transition: ease-in 0.1s;
}

.language--selected {
	color: #7e7e82;
	font: TT Lakes, sans-serif;
}