/* Tablet */
@media (min-width: 590px) {
	.navigation__phone,
	.navigation__contact,
	.navigation__user {
		display: inline-block;
	}
	.info-text1 {
		display: inline-block;
	}
	.container {
		display: flex;
	}
	.container p {
		max-width: 312px;
		max-height: 160px;
	}
	.info__text p {
		margin-right: 36px;
		max-width: 500px;
	}
	.container img {
		margin-left: auto;
	}
}

/* PC */
@media (min-width: 970px) {
	.navigation {
		display: none;
	}
	.pcHeader {
		display: flex;
		gap: 32px;
		float: right;
		margin: 0 32px;
	}
	.info {
		max-width: 1920px;
		margin: 0;
		margin: 42px 0 0 0;
	}
	.info__header::before {
		margin-right: 30px;
	}
	.info__scrollMenu {
		margin-left: 32px;
	}
	.pcHeader__order a:first-child {
		display: inline-block;
		margin-right: 8px;
		font-family: 'TT Lakes', sans-serif;
	}
	.pcHeader__orderStatus a:first-child {
		display: inline-block;
		margin-right: 8px;
		font-family: 'TT Lakes', sans-serif;
	}
	.pcHeader__order {
		display: flex;
		align-items: center;
	}
	.pcHeader__orderStatus {
		display: flex;
		align-items: center;
	}
	.info__scrollMenu {
		overflow: visible;
		flex-wrap: wrap;
	}
	.container {
		margin: 0 29px 0 32px;
	}
	.info__text p {
		margin-right: 36px;
		max-width: 500px;
	}
	.info-text1 {
		display: none;
	}
	.info-text2 {
		display: inline-block;
		padding-top: 11px;
	}
	.info__image {
		margin-left: auto;
	}
}

@media (min-width: 1500px) {
	.info__text p {
		margin-right: 36px;
		max-width: 900px;
		font-size: 16px;
	}
	.container {
		max-width: 2200px;
	}
	.info__image img {
		min-width: 150%;
		min-height: 150%;
	}
}
