* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

a {
	color: #000;
	text-decoration: none;
}

button {
	background-color: transparent;
	cursor: pointer;
}

.none {
	display: none;
}

/* Header */
.navigation {
	display: flex;
	align-items: center;
	margin: 19px 16px;
}

.navigation__leftSide {
	display: flex;
	gap: 17px;
	align-items: center;
}
.navigation__rightSide {
	display: flex;
	gap: 16px;
	margin-left: auto;
	align-items: center;
}

.navButton {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	background-color: #ff3e79;
}

.navButton svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 0;
}

.navigation__burgerMenu svg {
	width: 18px;
	height: 16px;
}

.logo svg {
	width: 97px;
	height: 51px;
}

.navigation__order svg {
	width: 20px;
	height: 20px;
}

.navigation__orderStatus svg {
	width: 16px;
	height: 20px;
}

.navLine {
	width: 3px;
	height: 32px;
	background-color: #eaeaea;
	margin: 0 4px;
}

.navigation__phone,
.navigation__contact,
.navigation__user {
	display: none;
}

.pcHeader {
	display: none;
}
/* Main */
.info {
	background-color: #F8F8F8;
	width: 100%;
	height: 100%;

	border-top: 1px solid #D9FFF5;
}
.info__header {
	display: flex;
	align-items: center;
	margin-bottom: 24px;
	margin-top: 19px;
}
.info__header::before {
	content: '';
	display: inline-block;
	width: 4px;
	height: 40px;
	margin-right: 12px;
	border-radius: 0px 50px 50px 0px;
	background-color: #41f6d7;
}

.info h1 {
	font-family: 'TT Lakes Bold', sans-serif;
	font-size: 28px;
}

.info__scrollMenu {
	margin-left: 16px;
}

.container {
	margin-left: 16px;
	margin-right: 16px;
}

.info p {
	font-family: 'TT Lakes Regular', sans-serif;
	font-size: 14px;
}

.info__readMore,
.info__scrollMenu {
	font-family: 'TT Lakes Medium', sans-serif;
}

.info__scrollMenu {
	display: flex;
	overflow-x: scroll;
	margin-bottom: 24px;
}

.info__scrollMenu button {
	min-width: 246px;
	min-height: 40px;
}

.btnSelected {
	border: 2px #b8ffec solid;
	border-radius: 6px;
}

.info-text1 {
	display: none;
	padding-top: 11px;
}
.info-text2 {
	display: none;
}

.info__readMore {
	display: flex;
	gap: 16px;
	align-items: center;
	margin: 16px 0;
	font-size: 16px;
}

.info__readMore svg {
	width: 8px;
	height: 11px;
}

.info__image {
	min-width: 250px;
	min-height: 150px;
}

.info__image img {
	width: 100%;
	max-width: 531px;
	max-height: 307px;
}
